table{
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid black;
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border:1px solid black;
    width: 100px;
    text-align: center;
    height: 50px;
}
th{
    background-color: #dedede;
}

.fail{
    color: red;
    background-color: #ffc1c1;
}
.onetwo{
    background-color: #faf38f;
    font-weight: bold;
}